snippet os.path. "Methods of os.path"
os.path.$1`!p snip.rv = complete(t[1], ["abspath", "basename", "commonprefix", "dirname", "exists", "lexists", "expanduser", "expandvars", "getatime", "getmtime", "getctime", "getsize", "isabs", "isfile", "isdir", "islink", "ismount", "join", "normcase", "normpath", "realpath", "relpath", "samefile", "sameopenfile", "samestat", "split", "splitdrive", "splitext", "splitunc", "walk", "supports_unicode_filenames"])`
endsnippet

